/node_modules
/vendor
/public/build
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore

docker-compose.yml
docker-compose.local.yml

Dockerfile
Dockerfile.local